<app-binding-event-attribute></app-binding-event-attribute>


<app-custom-property-binding-child [inputProp]="personalDetails"></app-custom-property-binding-child>

<app-custom-property-binding-parent 
(userCreated) = "OnUserCreate($event)"> 

<p>this is para set inside parent attribute in app comp and accessing in 
    parent.html using 'ngcontent'</p>
</app-custom-property-binding-parent>

<div *ngFor = "let x of userData">data from ParentComponent app comp 
    using @Output :: id = {{x.id}}, name = {{x.name}}, department = {{x.dept}}</div>

<p appAttribute>This para is colored with custom attribute directive</p>    

<p *appStructural = "conditionForStructuralDirective">This para is showed using custom structural
     directive</p>  

<input type="text" [(ngModel)] = "printVarForService"/>  
<br><br>
<app-compoment-communication-by-service></app-compoment-communication-by-service>
<button (click) = "CompCommune()">Comp Commune using service</button>
<input type="text" [(ngModel)] = "compCommu"/> 